<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div id="title">
  <h3> Add Policy</h3>
</div>
<div class="container">

  <form action="/action_page.php">
    <label for="policy">Policy Number</label>
    <input [(ngModel)]="policyNumber" type="text" id="policy" name="policynumber" placeholder="Your policy number...">

    <label for="fname">First Name</label>
    <input [(ngModel)]="firstName" type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input [(ngModel)]="lastName" type="text" id="lname" name="lastname" placeholder="Your last name..">
    <input (click)="updatePolicy()" type="submit" value="Submit">
  </form>
</div>

</body>
</html>
